{{ this.currentYear + "-" +this.currentMonth | date: 'MMMM yyyy'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table class="table">
  <tr>
    <th *ngFor="let c of columns">{{c}}</th>
  </tr>
  <tr *ngFor="let meal of mealList " app-meal-row [meal]="meal"></tr>
</table>

